<div>
  <label for="gtm-id">Enter GTM ID:</label>
  <input id="gtm-id" [(ngModel)]="gtmId" placeholder="GTM-XXXXXX" />
  <button (click)="loadGTM()">Load GTM</button>
  <button (click)="clearGTM()">Clear GTM</button>
</div>
<hr />
<div class="flex flex-col gap-2 w-max">
  <h3
  class="font-bold text-lg"
  >Demo Actions</h3>
  <button (click)="simulateEvent('view_product', 'Product A')">View Product A</button>
  <button (click)="simulateEvent('add_to_cart', 'Product A')">Add Product A to Cart</button>
  <button (click)="simulateEvent('purchase', 'Product A')">Purchase Product A</button>
</div>